body {
	font-size: 12px; margin: 10px; line-height: 18px; font-family: Verdana, Tahoma, Helvetica, sans-serif; background-color: #ffffff; text-align: center
}

#loading {
 	width: 100px;
 	height: 50px;
 	background-color: #eeeee0;
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	margin-top: -50px;
 	margin-left: -100px;
 	text-align: center;
 	color:#0000ff;
}


img {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px
}
div#header {
    text-align: center;
    margin: 0px;
    padding: 1px;
    height:143px;
    
}

div#column2 {
	margin: 0;
	padding: 0;
	background-position: right;
	background-repeat: repeat-y;
	width: 100%;
	background-color: #FFFFff;
	
}

div#column1 {
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-y;
	width: 100%;
	
}


div#leftcol {
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-y;
	width: 100%;
	
}


div#navcol {
	padding: 1px;
	width: 146px;
	float: left;
	background-color: #fBC8f8;
	
}
div#main {
	padding: 10px;
	margin-left: 150px;
	margin-right: 150px;
	
}

div#main1 {
	padding: 10px;
	width: 760px;
	margin-left: 150px;
	margin-right:140px;
}


div#midcontent {
	padding:10px ; margin-left: 150px;margin-right: 150px; width: 90%; text-align: left
}

div#rightside {
	padding:1px;
	width: 145px;
	height:500px;
	float: right;
	
}

div#rightside1 {
	padding:10px;
	width: 165px;
	height:600px;
	float: right;
	
}

div#sidecol {
	padding:1px;
	width: 145px;
	float: right;
	
}


div#container {
	margin: 5px auto; width: 950px; background-color: #ffffff; text-align: left
}
div#menu {
	padding:0px 0px 0px 0px; float: left; margin: 20px 0px 0px 5px; width: 136px; text-align: left;
}
div#content {
	padding:10px 25px 10px 5px; float: right; width: 780px; text-align: left
	
}
div#contentFull {
	padding:10px 10px 10px 10px; width: 780px;text-align: left
}
div#content A {
	font-weight: bold
}
div#contentFull A {
	font-weight: bold
}
div#aplic {
	padding:10px 5px 10px 25px; float: left; width: 580px; text-align: left
}
div#aplic2 {
	padding:5px 5px 5px 5px; float: left; width: 700px; text-align: left
}

/*div#footer {
	margin: 5px auto; width: "100%"; color: #0000ff; text-align: center
}
*/
div#foot {
	border-top: solid #000 1px;
	color: #0000ff;
	padding: 10px;
	text-align: center;
	clear: both;
	background-color: #ffffff;
}

div.smallad {
	clear: right; margin-top: 10px; float: right; margin-bottom: 10px; width: 234px; height: 60px; background-color: #ffffff
}
div.largead {
	margin: 10px auto; width: 468px; height: 60px; background-color: #ffffff
}
div.recad {
	float: left; margin: 5px; width: 300px; height: 250px; background-color: #ffffff
}

/*div.newmenu {
	background-image: url(http://gyplan.com/images/menu.gif); width: 120px; background-repeat: no-repeat; height: 20px
}*/
div.adlinks {
	margin-left: auto; width: 120px; margin-right: auto; height: 93px; background-color: #ffffff
}

div.code {
	margin: 0px 15px; background-color: #dddddd
}

div.quote {
	margin: 0px 15px; background-color: #fdffca
}
div.quote P {
	margin: 0px; font-style:italic
}
div#commentForm {
	display: none; font-size: 0.8em; margin: 0px 20px; font-family: Arial, sans-serif
}

div.leftline {
	padding:0px 0px 0px 7px; background-IMAGE: url(http://a.netlobo.com/images/line.gif); background-repeat: repeat-y
}

div.smallcent {
	margin-left: auto; width: 200px; margin-right: auto
}

div.comment {
	border-right: #777777 1px dashed; border-top: #777777 1px dashed; padding: 0px 0px 2px 0px; margin: 7px 0px; BORDER-LEFT: #777777 1px dashed; padding-top: 2px; BORDER-BOTTOM: #777777 1px dashed; background-color: #a6eca8
}

div.staffcomment {
	background-color: #ffff77
}

div#affAd {
	margin: 10px 0px
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

a {
	color: #3454c0; text-decoration: none
}
a:link {
	color: #3454c0
}
a:visited {
	color: #3454c0
}
a:hover {
	
        color: #ff0000; text-decoration: underline

}
a.whitelink:link {
	color: #0000ff
}

a.whitelink:visited {
	color: #0000ff
}
a.whitelink:hover {
	color: #0000ff
}

a.footlink:link {
	color: #0000ff
}
a.footlink:visited {
	color: #0000ff
}
a.footlink:hover {
	color: #0000ff
}

a.buynow:hover {
	color: #008000
}

a.commentLink {
	font-size: 0.8em; font-family: Arial, sans-serif
}

.clear {
	clear: both
}
h1 {
	margin-top: 3px; font-size: 1.5em; margin-bottom: 3px
}

h2 {
	margin-top: 0px; font-size: 1.2em; margin-bottom: 0px
}
h3 {
	font-size: 1.1em
}
.discount{text-decoration:line-through;color:Black}

.bigbuy{vertical-align:bottom;text-align:center}

.page{position:relative;left:100px;font-size:90%}
.page a{color:White;text-decoration:underline}

.iframe{border:0}
.mOrder{background:url(../images/buy.gif) top left no-repeat;padding:0px 0px 0px 56px}

.panel {text-align:left;margin-left:50px;
}
.panelBorder{border:#0000ff 1px solid;padding:10px 10px 2px 10px;
}

.panelTitle{text-align:center;font-size:2em;font-weight:800;color:#090;}
.titgyplanner{text-align:center;font-size:2em;font-weight:800;color:#090;}
.buygyplanner{text-align:center;font-size:1em;font-weight:800;color:#090;}

.rss {margin:3px 0 4px 0;padding:0}
.rss img{position:relative;top:3px}

.pick{color:red;text-decoration:underline}
.price{font: bold 125% arial;color:Green;cursor:default}
.discount{text-decoration:line-through;color:Black}
.os{cursor:default}

.downloadbuy a{font-weight:bold}
.thumb {width:125px}

ul {
	margin-top: 0px
}

li.img img{width:200px}


a.external {
	padding-right: 13px; background: url(http://gyplan.om/images/ex.png) no-repeat right center
}
.menuOpts {
	font-weight: 600; font-size: 1em; margin-left: 1px; LETTER-SPACING: 0.1em
}
.larger {
	font-size: 1.2em
}
.smaller {
	font-size: 0.8em
}
.bold {
	font-weight: 600
}
hr {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; width: 100%; color: #000000; height: 1px; background-color: #000000; border-right-width: 0px
}
.center {
	text-align: center
}
.centerb {
	margin-left: auto; margin-right: auto
}
.handcursor {
	cursor: pointer
}

.rederror {
	border-right: #ff0000 2px solid; border-top: #ff0000 2px solid; BORDER-LEFT: #ff0000 2px solid; BORDER-BOTTOM: #ff0000 2px solid
}
code {
	font-size: 11px
}
.red {
	color: #ff0000
}

pre.code {
	font-size: 10px
}

img {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px
}
form {
	margin: 0px
}
.imgWithCaptionR {
	clear: both; border-right: #000000 1px solid; padding:0px 0px 0px 0px; border-top: #000000 1px solid;font-size: 12px; float: right; margin: 3px; BORDER-LEFT: #000000 1px solid; width: 299px; BORDER-BOTTOM: #000000 1px solid; font-family: Arial, sans-serif; text-align: center
}

.smallerInput {
	font-size: 0.9em; font-family: Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif
}
.smallerlnput {
	display: none; font-size: 0.9em; font-family: Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif
}

.grayback {
	background-color: #dddddd
}
.greenback {
	background-color: #a6eca8
}
.brownback {
	background-color: #c9a36c
}
.blueback {
	background-color: #6c80c9
}

span.admintip {
	display: block; font-size: 9px; margin-bottom: 10px; color: #ff0000; line-height: 10px
}
p.breadcrumb {
	font-weight: 600; font-size: 0.9em; margin: 0px 0px; text-align: left
}

.indented {
	margin-left: 10px
}
.left {
	text-align: left
}
form.siteSearch {
	margin: 4px 0px
}
form.siteSearch INPUT {
	font-size: 0.8em
}

form.input { 
background-color: #B0E0E6; 
font: 12px verdana, arial, helvetica, sans-serif;
color:#003399;
border:2px solid #000099;
}

.form1 {
font-family: Arial; font-size: 0.8em; color: #000000; background-color: #CCCCCC; 
border-color: #333 #333333 #333333 #333;border-style: solid; border-width: 1px; 
}

.select { 
background-color: #ffffff;
font:12px verdana, arial, helvetica, sans-serif;
color:#000000;
}

select A { 
background-color: #B0E0E6;
font:12px verdana, arial, helvetica, sans-serif;
color:#003399;
}

span.date {
	font-size: 0.8em;
	color:#006400
}

span.buynow {
	font-size: 1.8em;
	color:#008000;
}


span.greeting {
	font-size: 0.8em;
	color:#006400;
}

span#feedlink {
	font-size: 0.8em
}

span#feedlink IMG {
	vertical-align: middle
}
div#MakeMoney A:link {
	color: #ff0000
}
ul.dir li {
	margin: 4px 0px
}

span.comment {
	font-weight: normal; color: #008080
}
span.oper {
	font-weight: normal; color: #0000f0
}
span.var {
	font-weight: normal; color: #d56000
}
span.func {
	font-weight: normal; color: #aa00ff
}
span.string {
	font-weight: normal; color: #777777
}
span.num {
	font-weight: bold; color: #990000
}
span.reg {
	font-weight: normal; color: #8d7f07
}

.dpt{
border:1px;
height:15px;
text-align: center;
font-size:xx-small;
color:#000000;
background:#87cefa;
}

input.dp{
border:1px solid #eeeee0;
height:15px;
display:block;
font-size:10px;
color:#000000;
width:100%;
background:#ffffff;
}

.aft{
border:1px;
height:15px;
text-align: center;
font-size:xx-small;
color:#000000;
background:#87cefa;
}

input.afi{
border:none;
height:15px;
display:block;
font-size:xx-small;
color:#000000;
background:#ffffff;
}



input.budinp{
border:none;
height:15px;
display:block;
font-size:10px;
color:#000000;
background:#ffffff;
}

input.nb{
text-align:right;
border:0px; 
font-size:x-small;
width:100%; 
}

input.nb1{
text-align:left;
border:0px; 
font-size:1.1em;
width:100%;  
}

input.nb2{
text-align:right;
border:none; 
font-size:x-small;
}

input.pe{
text-align:right;
border:0px; 
font-size:12px;
}
input.pe1{
text-align:left;
border:0px; 
font-size:12px;
}

input.print{
border:1px;
height:15px;
display:block;
font-size:10px;
color:#000000;
background:#ffffff;
}

.mand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:italic;
	font-weight: bold;
	color: #CC0000;
}

.arleft{
	color: #333333 !important;
	font-family: Arial, Helvetica, sans-serif!important;
	font-size: 12px!important;
}

.artbmain{
	height:200px;
	color:#333333;
	background:#F7F7F7;
	border: 1px dotted #909090;

}

.artext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:normal;
	color:#666666;
	background-image: url(style2_txt_bg.gif);
	background-repeat: repeat-x;
	background-color: #F1DBDB;
	border-top: 1px solid #E5F0F0;
	border-right: 1px solid #93D2D2;
	border-bottom: 0px;
	border-left: 0px;
	height: 1.9em;
	padding: 0.3em;
}

.arbtn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#666666;
	background: #F1DBDB;
	height: 1.8em;
	width: 5.0em;
	border-top: 0px solid;
	border-right: 2px solid #93D2D2;
	border-bottom: 3px solid #EDEDED;
	border-left: 3px solid #EDEDED;

}
.artextbig {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:normal;
	color:#666666;
	background-image: url(style2_txt_bg.gif);
	background-repeat: repeat-x;
	background-color: #F1DBDB;
	border-top: 0px;
	border-right: 1px solid #93D2D2;
	border-bottom: 0px;
	border-left: 0px;
	padding: 0.4em;
	font-style: italic;
}
.armand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
}

.arleftred {

	color: #dd0000!important;
	font-family: Arial, Helvetica, sans-serif!important;
	font-size: 12px!important;
}
.arerrMsg {
	color: #FF0000;
}


.style1 {
	border-style: none;
	border-width: 0;
	background-color: #FFFFFF;
}
.style2 {
	border-style: none;
	border-width: 0;
}
.style3 {
	text-align: left;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
.style4 {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
}
.style6 {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
.style7 {
	text-align: right;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
}
.style8 {
	border: 1px solid #7E8389;
	text-align: left;
	font-size: xx-small;
	background-color: #669999;
}

.style9 {
	background-color: #000000;
}
.style11 {
	text-align: center;
}
.style12 {
	border-width: 0px;
}
.style13 {
	text-align: center;
	font-size: small;
}
.style15 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.style16 {
	font-size: x-small;
}
.style17 {
	text-align: left;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
}
.style18 {
	font-size: small;
}
.style19 {
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
}
.style20 {
	text-align: center;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
}
.style21 {
	text-align: left;
	font-size: small;
}
.style23 {
	color: #008080;
}
.style24 {
	font-family: "Times New Roman", Times, serif;
}
.style25 {
	font-size: small;
	font-family: "Times New Roman", Times, serif;
}
.style26 {
	color: #008080;
	font-family: Arial, Helvetica, sans-serif;
}
.style27 {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.style31 {
	text-align: left;
	background-color: #FFFFFF;
}
.style32 {
	text-align: left;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
}
.style33 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #0000ff;
}

div.contact_form form,
div.contact_form table,
div.contact_form td,
div.contact_form th    { margin: 0px; padding: 0px; vertical-align: top; text-align: left; }

div.contact_form table { border-collapse: collapse; }
div.contact_form th    { padding: 0px 10px 3px 0px; }
div.contact_form td    { padding: 0px  0px 3px 0px; }

div.contact_form img   { margin-left: 5px; }

div.contact_form em
{
  text-decoration: none;
  font-style:  normal;
  font-weight: 900;
  color: #004080;
}

div.contact_form  em.error, div.contact_form form em { color: #FF0000; }
div.contact_form div.error { margin-bottom: 15px; }

div.contact_form div.input { float:  left;
 }
div.contact_form select    { width: 250px;
 }

/* CSS Document */

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.contenedor { width:980px; margin:15px auto; background:#fff; clear: both; padding:0px; }

/*#cabecera { width:980px; margin-left:auto; margin-right:auto; height:151px; background: url(/img/fondo_cabecera.gif) repeat-x;}*/

#cabecera { width:980px; margin-left:auto; margin-right:auto; height:151px; background: url(/img/fondo_cabecera.gif) repeat-x;}

#cabecera_cobranding { width:980px; margin-left:auto; margin-right:auto; background: url(/img/fondo_cabecera.gif) repeat-x 0 -119px;}

#cabecera_error { width:980px; margin-left:auto; margin-right:auto; height:151px; background: url(/img/fondo_cabecera.gif) repeat-x }
#cabecera_error #logo {margin-top:50px}

#submenu {width:965px; margin-left:auto; margin-right:auto; }

#path { width:980px; height:26px; }

#left { float: left; width: 200px; margin-right:20px; }/*portada*/
#left2 { float: left; width: 660px; margin-right:20px; } /* mercado y foro */
#left_noticias { float: left; width: 660px; margin-right:20px; }
#left_dondeinvertir { float: left; width: 660px; margin-right:20px; }
#left3 { float: left; width: 630px; } /*registro*/
#principal {float:left; width:760px; }
#principal980 {width:980px; margin:0 auto; clear: both;}
#central { float:left;width:440px;margin-right:20px; }
#right {float:right; width:300px; }
#right3 {float:right;width:350px; }

/* recomendados banners */

.recomendados_banners {width:980px; margin:13px auto}
.recomendados_banners .banners300 { float:left; width:240px; margin-right:6px; border-right:1px solid #dfdfdf; }
.recomendados_banners .banners_todos {}


/*pie*/

#pie {width:978px; margin:10px auto 0 auto; clear: both;}

#piebuscar {width:980px; margin:0 auto; clear: both;}

/* imprimir vista previa */

body#imprimir {margin:10px 20px}

#imprimir #logo {margin:10px 0 10px -8px}
#imprimir #left_noticias {  width: 600px; }

.buscapeads_bp1_cont{ 
    	background:url(../images/form_img10_pt.gif) no-repeat; 
    	width:150px; 
    	height:58px; 
    }
    .buscapeads_bp1_ba1 {
    	font-family: Arial, Helvetica, sans-serif;
    	color: #000000;
    	width: 130px;
    	height: 14px;
        border:solid 1px #f0f0f0;
    	font-size: 11px;
    	margin-top: 0;	
    }
    .buscapeads_bp1_bot {
    	margin-top: 3px; 
    	margin-bottom: 3px; 
    }
    #buscapeads_bp1_content { 
    	text-align:center; 
    }
    .buscapeads_bp1_ln1pt1 {
    	background:url(../images/form_img11_pt.gif);
    	height:58px;
    	width:150px;
    	
    }
 