
#menu ul {
list-style: none;
margin: 0;
padding: 0;
}

#menu a, #menu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #fff #fff #fff #fff;
margin: 0;
padding: 2px 3px;
}

#menu h2 {
color: #0000ff;
background: #f8f8ff; 
text-transform: lowercase;
}

#menu a {
color: #0000ff;
background: #f8f8ff;
text-decoration: none;
}

#menu a:hover {
color: #a00;
background: #f8f8ff;
}

#menu li {
position: relative;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
width: 100%;
}

div#menu ul ul ul,
div#menu ul ul li:hover ul ul {display: none;}

div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul {display: block;}

#menu ul li {float: left; width: 100%; }
#menu ul li {float: left; width: 100%;}
#menu ul li a {height: 1%;
} 

#menu a, #menu h2 {
font: bold 1.0em/1.4em arial, helvetica, sans-serif;
} 

.menustyle, .menustyle li ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 136px; 

}

.menustyle li{
position: relative;
}

.menustyle li a{
font: bold 12px Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 5px 0;
padding-left: 5px;
text-decoration: none;
}

.menustyle li ul{ 
position: absolute;
width: 136px; 
left: 0;
top: 0;
display: none;
}

.menustyle li ul li{
float: left;
}

.menustyle li ul a{
width: 136px; 
}

.menustyle .arrowdiv{
position: absolute;
right: 2px;
}
.menustyle li a:visited, li a:active{
color: white;
}


