body {
	font-size: 12px;
	margin: 0px; 
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    
}
input {border:none;}
div#contentFull {display: none;}
div#menu {display: none;}
div#footer {display: none;}
div#foot {display: none;}
div.adlinks {display: none;}
div.largead {display: none;}
div#smallad {display: none;}
div#largead {display: none;}
div.newmenu {display: none;}
div.left {display: none;}
p.breadcrumb {display: none;}
img { display: none; }
p.nprint {display:none;}
img.im {display:block;}
h1.nprint {display:none;}
h2.nprint {display:none;}
h3.nprint {display:none;}
h4.nprint {display:none;}
h5.nprint {display:none;}
h6.nprint {display:none;}