{% extends "app/base.html" %}

{% block title %}
Nuevo evento dental
{% endblock %}

{% block css %}
    <style type="text/css" media="screen">
	/* Credit to bootsnipp.com for the css for the color graph */
	.colorgraph {
	  height: 5px;
	  border-top: 0;
	  background: #c4e17f;
	  border-radius: 5px;
	  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	}
    </style>
{% endblock %}


{% block content %}
	{% if errors %}
        {{ errors }}
    {% endif %}
    <div class="row">
    	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    		<form role="form" action="" method="post">
    		{% csrf_token %}
    			<h2>Agregar Nuevo Evento Dental</h2>
    			<hr class="colorgraph">
    			<div class="form-group">
    			<textarea class="form-control input-lg" rows="8" cols="70" placeholder="{{ form.diagnostic.help_text }}" id="{{ form.diagnostic.id_for_label }}" name="{{ form.diagnostic.name }}"></textarea>
    			</div>
    			<h3>Hallazgos</h3>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_supernumerarios.id_for_label }}">{{ form.dental_exam_supernumerarios.help_text }} :</label>
    						<input id="{{ form.dental_exam_supernumerarios.id_for_label }}" name="{{ form.dental_exam_supernumerarios.name }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_abrasion.id_for_label }}">{{ form.dental_exam_abrasion.help_text }} :</label>
    						<input id="{{ form.dental_exam_abrasion.id_for_label }}" name="{{ form.dental_exam_abrasion.name }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_manchas.id_for_label }}"> {{ form.dental_exam_manchas.help_text }}:</label>
    						<input id="{{ form.dental_exam_manchas.id_for_label }}" name="{{ form.dental_exam_manchas.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_patologia_pulpar.id_for_label }}">{{ form.dental_exam_patologia_pulpar.help_text }} :</label>
    						<input id="{{ form.dental_exam_patologia_pulpar.id_for_label }}" name="{{ form.dental_exam_patologia_pulpar.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_placa_blanda.id_for_label }}">{{ form.dental_exam_placa_blanda.help_text }} :</label>
    						<input id="{{ form.dental_exam_placa_blanda.id_for_label }}" name="{{ form.dental_exam_placa_blanda.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_placa_calificada.id_for_label }}">{{ form.dental_exam_placa_calificada.help_text }} :</label>
    						<input id="{{ form.dental_exam_placa_calificada.id_for_label }}" name="{{ form.dental_exam_placa_calificada.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.dental_exam_fluorosis_dental.id_for_label }}">{{ form.dental_exam_fluorosis_dental.help_text }} :</label>
    						<input id="{{ form.dental_exam_fluorosis_dental.id_for_label }}" name="{{ form.dental_exam_fluorosis_dental.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="form-group">
    				<input type="text" class="form-control input-lg" id="{{ form.dental_exam_other.id_for_label }}" maxlength="250" name="{{ form.dental_exam_other.id_for_label }}" type="text" placeholder="{{ form.dental_exam_other.help_text }}"/>
    			</div>
    			<h3>Tratamiento</h3>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_operatoria.id_for_label }}">{{ form.treatment_operatoria.help_text }} :</label>
    						<input id="{{ form.treatment_operatoria.id_for_label }}" name="{{ form.treatment_operatoria.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_periodoncia.id_for_label }}">{{ form.treatment_periodoncia.help_text }} :</label>
    						<input id="{{ form.treatment_periodoncia.id_for_label }}" name="{{ form.treatment_periodoncia.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_ortodoncia.id_for_label }}">{{ form.treatment_ortodoncia.help_text }} :</label>
    						<input id="{{ form.treatment_ortodoncia.id_for_label }}" name="{{ form.treatment_ortodoncia.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_medicina_oral.id_for_label }}">{{ form.treatment_medicina_oral.help_text }} :</label>
    						<input id="{{ form.treatment_medicina_oral.id_for_label }}" name="{{ form.treatment_medicina_oral.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_cirugia_oral.id_for_label }}">{{ form.treatment_cirugia_oral.help_text }} :</label>
    						<input id="{{ form.treatment_cirugia_oral.id_for_label }}" name="{{ form.treatment_cirugia_oral.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_endodoncia.id_for_label }}">{{ form.treatment_endodoncia.help_text }} :</label>
    						<input id="{{ form.treatment_endodoncia.id_for_label }}" name="{{ form.treatment_endodoncia.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-xs-12 col-sm-6 col-md-6">
    					<div class="form-group">
    						<label for="{{ form.treatment_protesis.id_for_label }}">{{ form.treatment_protesis.help_text }} :</label>
    						<input id="{{ form.treatment_protesis.id_for_label }}" name="{{ form.treatment_protesis.id_for_label }}" type="checkbox" />
    					</div>
    				</div>
    			</div>
    			<div class="form-group">
    				<textarea class="form-control input-lg" rows="5" cols="70" placeholder="{{ form.additional_comments.help_text }}" id="{{ form.additional_comments.id_for_label }}" name="{{ form.additional_comments.name }}"></textarea>
    			</div>
    			<input type="submit" value="Agregar Evento" class="btn btn-primary btn-block btn-lg" tabindex="7">
    		</form>
    	</div>
    </div>
{% endblock %}