{% extends "app/base.html" %}

{% block title %}
Perfil : {{ patient.patient_name }}
{% endblock %}

{% block content %}
<hr>
	<div class="col-md-5  toppad  pull-left col-md-offset-3 ">
		<A href="edit.html" >Editar Paciente</A>
		<br>
		<p class=" text-info">Ultimo doctor: {{ patient.last_treated_by }} </p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><dt>{{ patient.patient_name }} {{ patient.lastname }}</dt></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
					<div class=" col-md-9 col-lg-9 "> 
						<table class="table table-user-information">
							<tbody>
								<tr>
									<td><dt>Ultimo evento :</dt></td>
									<td>{{ patient.last_treated_date }}</td>
								</tr>
								<tr>
									<td><dt>Tipo sangre :</dt></td>
									<td>{{ patient.blood_type }}</td>
								</tr>
								<tr>
									<td><dt>Fecha nacimiento :</dt></td>
									<td>{{ patient.birth_date }}</td>
								</tr>

								<tr>
									<tr>
										<td><dt>Genero :</dt></td>
										<td>{{ patient.sex }}</td>
									</tr>
									<tr>
										<td><dt>Direccion :</dt></td>
										<td>{{ patient.address }}</td>
									</tr>
									<tr>
										<td><dt>Email :</dt></td>
										<td><a href="mailto:{{ patient.email }}">{{ patient.email }}</a></td>
									</tr>
									<td><dt>Numeros contacto :</dt></td>
									<td>{{ patient.cellphone_number }}(Fijo)<br><br>{{ patient.phone_number }}(Celular)
									</td>

								</tr>

							</tbody>
						</table>
					</div>
					<hr class="colorgraph">
					<a href="./add_medical_event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Evento Medico</a>
					<a href="./add_dental_event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Evento Dental</a>
					<a href="./history" class="btn btn-info"><span class="glyphicon glyphicon-book"></span>Historia Paciente</a>
					<a href="./update" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span>Editar Paciente</a>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}