{% extends "app/base.html" %}

{% block title %}
Planes de pago creados
{% endblock %}

{% block content %}
    </p>
        Mi URL publica >>> <a href="http://127.0.0.1:8000/app/public/{{ profile.slug }}">http://127.0.0.1:8000/app/public/{{ profile.slug }}</a></br>
    </p>
    Lineas de credito:
    {% if lineas %} 
        {% for i in lineas %}
            <a href="./credit_line/{{ i.slug }}">{{ i.slug }}</a></br>
        {% endfor %}
    {% else %}
        No Existe ningun record
    {% endif %}
    </p>
    Planes de pago Creados:
    {% if objects %} 
		{% for i in objects %}
   			<a href="./private/{{ i.slug }}">{{ i.generation_date }}</a></br>
		{% endfor %}
	{% else %}
		No Existe ningun record
    {% endif %}
    </p>
{% endblock %}