{% extends "app/base.html" %}

{% block title %}
Buscar usuario
{% endblock %}

{% block content %}
    <hr>

        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <h2>Buscar paciente por cedula</h2>
			{% if errors %}
			    <h3>{{ errors }}!</h3>
			{% endif %}
                        <form role="form" method="post" action="">
                        {% csrf_token %}
                          <fieldset>
                            <div class="input-group custom-search-form">
                              <input type="text" name="{{ form.identification_id.name }}" id="{{ form.identification_id.id_for_label }}" class="form-control" placeholder="Cedula Paciente">
                              <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                                </button>
                              </span>
                            </div><!-- /input-group -->
                          </fieldset>
                        </form>
                        <hr>
			{% if errors %}
			    <h3>Agregar paciente nuevo</h3>
			    <a href="{% url 'add_patient' %}" class="btn btn-lg btn-primary btn-block">Agregar Paciente</a>
			{% endif %}
                </div>
        </div>
{% endblock %}